.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 0 2rem;
}

.container article:hover {
  transform: scale(1.02);
  transition: all 0.5s ease-in-out;
}

.container article img {
  aspect-ratio: auto;
}

